.Disponible{
    padding: 5px 9px;
    font-size: 18px;
    color: #166534;
    background-color: #dcfce7;
    border-radius: 50px;
    text-align: center;
    width: fit-content;
  }
  .non-disponible{
    padding: 5px 9px;
    font-size: 18px;
    color: #ac1724;
    background-color: #ffadad;
    border-radius: 50px;
    text-align: center;
    width: fit-content;
  }

  .table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.table th, .table td {
    vertical-align: middle !important;
    padding: 16px 24px !important; /* Added padding with !important */
    font-size: 18px;
}
.btns{
    font-size: 23px !important;
}

img{
    width: 50px;
}