.icon1 {
    background-color: #3b82f6;
    color: white; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px; 
    border-radius: 50%;
  }
  .icon2 {
    background-color: #22c55e;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px; 
    border-radius: 50%;
  }

  .icon3 {
    background-color: #6366f1;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px; 
    border-radius: 50%;
  }

  .icon4 {
    background-color: #f97316;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px; 
    border-radius: 50%;
  }

  .card-dash{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  }

  .add-user-button {
    background-color: #1488CC; 
    color: white; 
    border: none; 
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.add-user-button:hover {
    background-color: #1c73a5;
}

.icon-user{
    color: #4f46e5;
    background-color: #e0e7ff;
}

.table {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.table th, .table td {
  vertical-align: middle !important;
  padding: 16px 24px !important; /* Added padding with !important */
  font-size: 18px;
}
.btns{
  font-size: 23px !important;
}

.card{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  }